<head>
<link rel ='stylesheet' href='/index.css'>
  <title>MAKERS BNB</title>
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MakersBnB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/spaces">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/spaces/new">Add Space</a>
      <a class="nav-link" href="<%= "/spaces/" + session[:user] %>">View My Spaces</a>
    </div>
  </div>
</nav>

<ul>
<h1> Selected space </h1>

<form action="/space/<%= @viewed_space.space_id%>/:months" method="get" class='sign-in'>
<li>
 <img src='/img/home.png'>
<h3><%= @viewed_space.name %></h3><br>
<div><%= @viewed_space.price %></div>
<div><%= @viewed_space.description %></div>



<select name="month" id="months" >
<option value="january">January</option>
  <option value="february">February</option>
  <option value="march">March</option>
  <option value="april">April</option>
  <option value="may">May</option>
  <option value="june">June</option>
  <option value="july">July</option>
  <option value="august">August</option>
   <option value="september">September</option>
  <option value="october">October</option>
  <option value="november">November</option>
  <option value="december">December</option>
</select>

<input type='submit' value='Submit' class='space_button'>
</li>
</form>
</ul>

