<%= flash[:notice] %>

<h1>List of all spaces!</h1>

<ul>
  <% @spaces.each do |space| %>
    <%= space.name %> <br>
    <%= space.price %> <br>
    <%= space.description %><br>
    <br>
    <form action="/space/<%= space.space_id %>" method="get">
    <input type="submit" name="<%= space.space_id %>" value="View Space" />
    </form>

  <% end %>
</ul>

<form action="/spaces/new" method="get">
  <input type="submit" value="Add Space" />
</form>

<form action="/spaces/:userid" method="get">
  <input type="submit" value="View My Spaces" />
</form>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>