<head>
<link rel ='stylesheet' href='/index.css'>
  <title>MAKERS BNB</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MakersBnB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/spaces">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/spaces/new">Add Space</a>
      <a class="nav-link" href="<%= "/spaces/" + session[:user] %>">View My Spaces</a>
      <a class="nav-link" href="/bookings/<%= session[:user]%>">My Bookings</a>
    </div>
  </div>
</nav>

<div class='title'>
<h1>List of your spaces!</h1>
</div>

<ul class='spaces'>
  <% @user_spaces.each do |space| %>
  <li>
    <img src='/img/home.png'><br>
    <h3><%= space.name %></h3> <br>
    <div><%= space.price %> </div><br>
    <div><%= space.description %></div><br>
    <br>
  </li>
  <% end %>
</ul>

<div class='pending_bookings'>
<h1>Pending Bookings!</h1>
</div>

<ul class='bookings'>
  <% @pending_bookings.each do |booking| %>
    
  <li>
    <img src='/img/home.png'><br>
    <h3><%= booking["space"].name %></h3> <br>
    <div><%= booking["guest"].name %> </div><br>
    <div><%= booking["booking"].stay_date %></div><br>
    <br>

    <form action="<%= "/space/" + session[:user] +"/approve"%>" method="post">
    <input type="hidden" name="booking_id" value="<%= booking["booking"].booking_id%>"/>
    <input type="submit" value="Accept Booking" class='space_button' />
    </form>
    <form action="<%= "/space/" + session[:user] +"/deny"%>" method="post">
    <input type="hidden" name="booking_id" value="<%= booking["booking"].booking_id%>"/>
    <input type="submit" value="Deny Booking" class='space_button' />
    </form>



  </li>
  
  <% end %>
</ul>